version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: fluffy_admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: fluffy_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data:
# version: "3.9"

# services:
#   postgres:
#     image: postgres:16
#     container_name: postgres-db
#     restart: always
#     environment:
#       POSTGRES_USER: myuser
#       POSTGRES_PASSWORD: mypassword
#       POSTGRES_DB: myappdb
#     ports:
#       - "5432:5432"
#     volumes:
#       - pgdata:/var/lib/postgresql/data

#   pgadmin:
#     image: dpage/pgadmin4
#     container_name: pgadmin
#     restart: always
#     environment:
#       PGADMIN_DEFAULT_EMAIL: admin@admin.com
#       PGADMIN_DEFAULT_PASSWORD: admin
#     ports:
#       - "5050:80"
#     depends_on:
#       - postgres
#     volumes:
#       - pgadmin_data:/var/lib/pgadmin

#   backend:
#     build: ./backend
#     container_name: backend-service
#     restart: always
#     depends_on:
#       - postgres
#     environment:
#       DATABASE_URL: postgres://myuser:mypassword@postgres:5432/myappdb
#       PORT: 5000
#     ports:
#       - "5000:5000"
#     volumes:
#       - ./backend:/app
#       - /app/node_modules

#   frontend:
#     build: ./frontend
#     container_name: frontend-service
#     restart: always
#     depends_on:
#       - backend
#     ports:
#       - "3000:80"
#     volumes:
#       - ./frontend:/app
#       - /app/node_modules

# volumes:
#   pgdata:
#   pgadmin_data:
